*{
	box-sizing: border-box;
}
.bloque{
	width: 80px;
	height: 3px;
	background-color: black;
}
.fotos{
	margin: 21px;
}
img{
	margin-left: 10px;
}
p{
	margin: 0px;
	padding: 0px;
	position: relative;
	bottom: 30px;
	left: 90px;
	color: white;
}
.caja{
	display: inline-block;
}